body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1300px;
  width: 80%;
  height: 80vh;
  margin: 3rem auto;
  border-radius: 10px;
  box-shadow: 10px
  /* border: 1px solid red; */
  /* background: rgb(187, 182, 182); */
}
.heading{
  display: flex;
  border-radius: 10px;
  justify-content: space-around;
  font-size: 2rem;
  background-image:linear-gradient(30deg, green,rgb(107, 107, 175),rgb(224, 171, 74));
}
.details{
  text-align: center;
  font-size: 2rem;
  margin: 3rem auto;
  background-image: linear-gradient(30deg, blue,red,orange);
}
.ldetails{
  max-width: 1000px;
  width: 80vw;
  border-left: 1px solid green;
  border-right: 1px solid green;
  border-radius: 5px;
  margin: 4rem auto;
  font-size: 2rem;
  text-align: center;
}